{% load static %}
<style>
	.btn-info {
		min-width: 110px;
		max-width: 110px;
		margin-top: 20px;
		align-items: center;
		text-align: center;
		background-color: #575757;
		padding: 1rem 2rem;
		text-decoration: none;
		color: #ffffff;

		transition: all .2s ease-in-out;


	}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media='all'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<a href="/" class="btn-info">
	Вернуться</a>
<section class="ftco-section">

	<div class="container-fluid px-md-5">
	
			<h4>Выберите тапчан</h4>
			<div class="row align-items-center">
				{% for i in tapchan %}
				<div class="col-lg-4 d-flex align-items-stretch search_block" id="{{i.name}} {{i.rating}}">
					<div id="accordion" class="myaccordion w-100 text-center py-5 px-1 px-md-4">
						<div>

							<img style="border-radius:5px;  object-fit: cover; width: 100%;" width="auto" height="200px"
								src="/media/{{i.image}}" alt="">
						</div>

						<div class="card">
							<div class="card-header" id="heading{{i.queue_info}}">
								<h2 class="mb-0">
									<h5 class="mb-0" data-toggle="collapse" data-target="#collapse{{i.queue_info}}"
										aria-expanded="true" aria-controls="collapse{{i.queue_info}}">
										{{i.name}}

									</h5>
									<h6>Цена брони: {{i.price}}</h6>

									<button style="	background: white;
										 font-size: 15px;
										 border-radius: 6px;" onclick="window.location.href='/tapchan/{{i.id}}/'">Выбрать тапчан</button>

								</h2>
							</div>

						</div>



					</div>
				</div>

				{% endfor %}

			</div>
		
	</div>
</section>


<!-- 
<script type="text/javascript">
	function filterBlocks() {
		const searchInput = document.getElementById("searchInput").value;
		const setqrBlocks = document.querySelectorAll(".search_block");

		setqrBlocks.forEach((block) => {
        const blockId = block.id.toLowerCase(); // Преобразование в нижний регистр
        if (blockId.includes(searchInput)) {
            block.style.display = "table-row"; // Показать блок с совпадающим идентификатором
        } else {
            block.style.display = "none"; // Скрыть остальные блоки
        }
    });
	}
	document.getElementById("searchInput").addEventListener("input", filterBlocks);

	// Функция для отображения всех блоков
	function showAllBlocks() {
		const setqrBlocks = document.querySelectorAll(".search_block");

		setqrBlocks.forEach((block) => {
			block.style.display = "table-row"; // Показать все блоки
		});
		document.getElementById("searchInput").value = "";
		document.getElementById("searchInput").setAttribute("placeholder", "102..");
	}
</script> -->